<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ações do Autômato</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Ações do Autômato</h2>
        <div class="row">
            <div class="col-4">
                <a href="/convert_to_dfa" class="btn btn-primary mb-2">Converter para AFD</a>
            </div>
            <div class="col-4">
                <a href="/" class="btn btn-secondary mb-2">Inserir Novo Autômato</a>
            </div>
            <div class="col-4">
                <a href="/input_word_afn" class="btn btn-success">Validar Palavra do AFN</a>
            </div>
        </div>
    </div>
</body>
</html>
